:root {
	--canvasColor: #f9f9f9;
	--backgroundColor: #fff;
	--foregroundColor: #111;
	--primaryColor: #ff9557;
	--primaryShade1: #ffe2d1;
	--primaryShade2: #ffceb2;
	--primaryShade3: #ffb184;
	--primaryShade4: #e88850;
	--primaryShade5: #d17a48;
	--secondaryColor: #ffcc67;
	--secondaryShade1: #fff1d5;
	--secondaryShade2: #ffde9e;
	--secondaryShade3: #ffd074;
	--secondaryShade4: #e8ba5e;
	--secondaryShade5: #ba954b;
	--accentColor: #4e5166;
	--accentShade1: #cecfd5;
	--accentShade2: #aeafb9;
	--accentShade3: #8e909d;
	--accentShade4: #6e7081;
	--accentShade5: #404354;
	--accent2Color: #588b8b;
	--accent2Shade1: #c2d4d4;
	--accent2Shade2: #a3bfbf;
	--accent2Shade3: #85aaaa;
	--accent2Shade4: #507f7f;
	--accent2Shade5: #497272;
	--accent3Color: #fe5f55;
	--accent3Shade1: #fec4c1;
	--accent3Shade2: #fea7a2;
	--accent3Shade3: #fe7c73;
	--accent3Shade4: #e7574e;
	--accent3Shade5: #b9463e;
}

body {
	background: var(--canvasColor);
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	line-height: 1.5;
	font-size: 16px;
	text-align: center;
	transition: all .3s ease;
}

* {
	box-sizing: border-box;
}

main {
	--neutralShade1: #f2f2f2;
	--neutralShade2: #e8e9e9;
	--neutralShade3: #d1d3d4;
	--neutralShade4: #babdbf;
	--neutralShade5: #808488;
	--neutralShade6: #666a6d;
	--neutralShade7: #4d5052;
	--neutralShade8: #212122;

	--grayColor: #999;
	--lightGrayColor: #ddd;

	--borderRadius: 6px;
	--boxShadow: 0 2px 5px rgba(#333, 0.2);
}

/*overall layout*/

main {
	color: var(--foregroundColor);
	text-align: left;
}

section {
	display: flex;
	flex-wrap: wrap;
}

/*typography*/
strong {
	font-weight: 500;
}

em {
	font-style: italic;
}

h3 {
	font: 700 24px/1.2 "Poppins", sans-serif;
	margin-bottom: 10px;
}

span {
	font: 500 18px/1.2 "Poppins", sans-serif;
	margin-bottom: 10px;
	margin-right: 10px;
}

/*buttons & links*/

.button {
	outline: none;
	width: 100%;
	text-align: center;
	display: inline-block;
	border: none;
	font: 500 16px/1 "Poppins", sans-serif;
	padding: 20px;
	cursor: pointer;
	border-radius: var(--borderRadius);
	background: var(--primaryColor);
	color: var(--backgroundColor);
	position: relative;
	top: 0;
	transition: 0.2s ease;
	&:hover,
	&.hover {
		top: -3px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
	}
	&:active,
	&.active {
		background: var(--primaryShade4);
		outline: none;
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
		top: 0;
	}
	&.disabled {
		opacity: 0.4;
		user-select: none;
		pointer-events: none;
	}
	&.medium {
		padding: 15px 18px;
		width: auto;
		margin-right: 20px;
		margin-bottom: 20px;
	}
	&.small {
		padding: 10px 12px;
		width: auto;
		font-size: 14px;
		font-weight: 500;
	}
	&.secondary {
		background: var(--secondaryColor);
		&:active,
		&:focus,
		&.active {
			background: var(--secondaryShade4);
			outline: none;
		}
	}
	&.accent {
		background: var(--accentColor);
		&:active,
		&:focus,
		&.active {
			background: var(--accentShade4);
		}
	}
	&.accent2 {
		background: var(--accent2Color);
		&:active,
		&:focus,
		&.active {
			background: var(--accent2Shade4);
		}
	}
	&.accent3 {
		background: var(--accent3Color);
		&:active,
		&:focus,
		&.active {
			background: var(--accent3Shade4);
		}
	}
}


.profile {
	position: relative;
	background: var(--backgroundColor);
	color: var(--foregroundColor);
	box-shadow: 0 3px 15px rgba(#333,0.2);
	border-radius: 10px;
	transition: .2s ease;
	&__image {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__stats {
		&__title {
			color: var(--grayColor);
			text-transform: uppercase;
			font-size: 16px;
		}
	}
}

.profile-default {
	min-width: 400px;
	max-width: 450px;
	margin: auto;
	margin-bottom: 1rem;
	overflow: hidden;
	display: grid;
	grid: 500px auto auto / repeat(3,minmax(80px,1fr));
	grid-gap: 5px;
	.profile__image {
		grid-column: span 3;
		img {
			border-bottom: 7px solid var(--secondaryColor);
		}
	}
	.profile__info {
		grid-column: span 3;
		margin: 0 25px 0;
	}
	.profile__stats {
		grid-column: span 3;
		margin: 5px 25px;
	}
	a {
		grid-column: span 3;
		margin: 0 25px 25px;
	}
}
